.comment-form input[type=email], .comment-form input[type=text], .comment-form input[type=url], .comment-form textarea, .form-control, .search-form .search-field{
  border-radius: 0px;
  border: 1px solid #000;
  padding: 15px;
  font-size: 14px;
}
// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
  width: calc(100% - 121px);
}
.search-form .search-field {
  @extend .form-control;
  width: 100%;
  border-right-width: 0px;
}
.search-form .search-field::-webkit-input-placeholder {
  color: #000;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-primary;
}
