// Grid system
.main {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
}
.sidebar {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
}
@media (max-width: 1024px) {
    .main {
      width: 100% !important;
      max-width: 100% !important;
      flex: 0 0 100% !important;
    }
    .sidebar{
        display:none;
    }
}