.social-links {
    display: inline-block;
    width: auto;
    padding: 0px;
    margin: 0px;
    li {
        display: inline-block;
        height: 25px;
        width: 25px;
        margin: 0 5px;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.53;
        -webkit-transition: opacity 0.4s; /* Safari */
        transition: opacity 0.4s;
    }
    li:hover {
        opacity: 1;
    }
    li a {
        height:100%;
        width: 100%;
        display: block;
    }
    .facebook {
        background-image: url('../images/icons/facebook-logo.png');
    }
    .youtube {
        background-image: url('../images/icons/youtube-logo.png');
    }
    .instagram {
        background-image: url('../images/icons/instagram-logo.png');
    }
}