header.banner {
    text-align: center;
    background-color: #fefafa;
}
.brand {
    display: inline-block;
    width: 200px;
    a {
        display: inline-block;
    }
    img {
        width: 100%;
        height: auto;
    }
}
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item > a.dashicons-search{
    font-size: 20px;
}

