header.banner {
    text-align: center;
    background-color: #fefafa;
}
.brand {
    display: inline-block;
    width: 200px;
    a {
        display: inline-block;
    }
    img {
        width: 100%;
        height: auto;
    }
}
.hero {
    overflow: hidden;
    background-image: url('../images/hero-banner.png');
    background-size: cover;
    background-position: center;
    .container {
        overflow: hidden;
        background-image: url('../images/hero-image.png');
        background-repeat: no-repeat;
        background-position: bottom 0px right 430px;
        background-size: auto 533px;
    }
    .hero-content {       
        padding: 120px 0px;
        width: 430px;
        max-width: 100%;
        display: inline-block;
        float: right;
        color: #010101;
        font-weight: 300;
        letter-spacing: 0.16em;
        font-size: 14px;
        line-height: 27px;
    }
    .hero-headline {
        text-transform: uppercase;
    }
    h1.hero-headline {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.16em;
    }
    h2.hero-headline {
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.34em;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 40px;
    }
}
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item > a.dashicons-search {
    font-size: 20px;
}


